html
  head
    meta(charset='utf-8')
    meta(name='theme-color', content='#ffffff')
    title Διαύγεια - Οπτικοποίηση Αποφάσεων
    link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon-16x16.png')
    link(rel='manifest', href='assets/manifest.json')
    link(rel='mask-icon', href='assets/safari-pinned-tab.svg', color='#5bbad5')
    style
      include ../node_modules/bulma/css/bulma.css
      include ../public/css/main.css
  body
      //- Header
      section(class='hero is-primary')
        .hero-body
          .container
            .columns.is-vcentered
              .column
                h1(class='title') Οπτικοποίηση Αποφάσεων
                h2(class='subtitle') Οπτικοποίηση των <span class="tag is-white">.n3</span> αποφάσεων σε <span class="tag is-white">HTML</span>
              .column.is-narrow
                .box
                  article(class='media')
                    .media-left
                      figure(class='image is-64x64')
                        img(src='assets/national_emblem_64.png')
                    .media-content
                      .content
                        p <strong style="font-size:1.2em">Διαύγεια</strong> <br> Διαφάνεια στο κράτος
                        //- Decision
      section(class='section is-fullheight')
        .container
          h4(class='title is-4 has-text-centered') #{title} <span class="tag is-rounded is-success">#{decision_type}</span> <hr>
          .columns
            //- Government Institution Details
            .column.is-two-thirds
              article(class='notification governmentNotification')
                p(class='subtitle has-text-centered') Στοιχεία Φορέα
                p(class='governmentInfo') <strong>Όνομα Φορέα:</strong> <span>#{government_institution_name}</span>
                if (government_institution_general_administration)
                  p(class='governmentInfo') <strong>Γενική Διεύθυνση:</strong> <span>#{government_institution_general_administration}</span>
                if (government_institution_department)
                  p(class='governmentInfo') <strong>Τμήμα:</strong> <span>#{government_institution_department}</span>
                if government_institution_address || government_institution_phone || government_institution_email || government_institution_postalcode || government_institution_fax || government_institution_website || government_institution_information
                  <hr>
                  p(class='has-text-centered contact') Επικοινωνία
                  .columns
                    .column.is-two-thirds
                      if government_institution_address
                        p(class='governmentInfo') <strong>Διεύθυνση:</strong> <span>#{government_institution_address}</span>
                      if government_institution_phone
                        p(class='governmentInfo') <strong>Τηλέφωνο:</strong> <span>#{government_institution_phone}</span>
                      if government_institution_email
                        p(class='governmentInfo') <strong>Email:</strong> <span><a href="mailto:#{government_institution_email}">#{government_institution_email}</a></span>
                    .column
                      if government_institution_postalcode
                        p(class='governmentInfo') <strong>T.K.:</strong> <span>#{government_institution_postalcode}</span>
                      if government_institution_fax
                        p(class='governmentInfo') <strong>Fax:</strong> <span>#{government_institution_fax}</span>
                      if government_institution_website
                        p(class='governmentInfo') <strong>Website:</strong> <span>#{government_institution_website}</span>
                  if government_institution_information
                    p(class='governmentInfo has-text-centered') <strong>Υπεύθυνος για Πληροφορίες:</strong> <span>#{government_institution_information}</span>
            .column
              article(class='notification is-primary generalInfo')
                p(class='subtitle has-text-centered') Γενικά Στοιχεία Απόφασης
                p(class='governmentInfo has-text-centered') <strong>ΑΔΑ:</strong> <span>#{iun}</span>
                p(class='governmentInfo has-text-centered') <strong>Έκδοση:</strong> <span>#{version}</span>
                p(class='governmentInfo has-text-centered') <strong>Είδος Απόφασης:</strong> <span>#{decision_type}</span>
                p(class='governmentInfo has-text-centered') <strong>Ημερομηνία Ανάρτησης:</strong> <span>#{date_publication}</span>
                p(class='governmentInfo has-text-centered') <strong>Αριθμός Πρωτοκόλλου:</strong> <span>#{protocol_number}</span>
                if number_employees
                  p(class='governmentInfo has-text-centered') <strong>Αριθμός Φυσικών προσώπων:</strong> <span>#{number_employees}</span>
                //- TODO replace with organization name from database
                if appointment_employer_org
                  p(class='governmentInfo has-text-centered') <strong><a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{appointment_employer_org}"' target="_blank">Φορέας Δορισμού</a></strong>
                if circular_number
                  p(class='governmentInfo has-text-centered') <strong>Αριθμός Εγκυκλίου:</strong> #{circular_number}
                if has_related_declaration_summary
                  p(class='governmentInfo has-text-centered') <strong><a href="/visualize/{has_related_declaration_summary}" target="_blank">Σχετική Περίληψη Διακήρυξης</a></strong>
                p(class='governmentInfo has-text-centered thematicCategoriesWrap') <strong>Θεματικές Κατηγορίες</strong>
                .tags
                  each val in thematic_category
                    .tag.is-white.thematicCategory= val
                p(class='governmentInfo has-text-centered') Η απόφαση
                  if (has_private_data=='true')
                    <strong> περιέχει </strong> προσωπικά δεδομένα
                  else
                    <strong> δεν περιέχει</strong> προσωπικά δεδομένα
          //- BalanceAccount
          if decision_type_english === 'BalanceAccount'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Ισολογισμού - Υπολογισμού
                  if financial_year
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό έτος:</strong> #{financial_year}
                  if balance_account_time_period
                    p(class='governmentInfo has-text-centered')  <strong>Χρονική Περίοδος:</strong> #{balance_account_time_period}
                  if balance_account_type
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό έτος:</strong> #{balance_account_type}
                  p(class='governmentInfo has-text-centered') Ο Ισολογισμός - Απολογισμός
                    if (is_balance_account_approval_for_org=='true')
                      <strong> έχει έγκριση</strong> από τρίτο <a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{has_related_institution}"' target="_blank">φορέα</a>
                    else
                      <strong> δεν έχει έγκριση</strong> τρίτου Φορέα
          //- BudgetApproval
          else if decision_type_english === 'BudgetApproval'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Έγκρισης Προϋπολογισμού
                  if financial_year
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό έτος:</strong> #{financial_year}
                  if budget_category
                    p(class='governmentInfo has-text-centered')  <strong>Κατηγορία Προϋπολογισμού:</strong> #{budget_category}
                  if budget_type
                    p(class='governmentInfo has-text-centered')  <strong>Είδος Προϋπολογισμού:</strong> #{budget_type}
                  p(class='governmentInfo has-text-centered') Η Έγκριση Προϋπολογισμού
                    if (is_budget_approval_for_org=='true')
                      <strong> έχει έγκριση</strong> από τρίτο <a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{has_related_institution}"' target="_blank">φορέα</a>
                    else
                      <strong> δεν έχει έγκριση</strong> τρίτου Φορέα
          //- CollegialBodyCommisionWorkingGroup
          else if decision_type_english === 'CollegialBodyCommisionWorkingGroup'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Πράξης
                  if collegial_body_decision_type
                    p(class='governmentInfo has-text-centered')  <strong>Είδος Πράξης:</strong> #{collegial_body_decision_type}
                  if collegial_body_party_type
                    p(class='governmentInfo has-text-centered')  <strong>Τύπος Οργάνου:</strong> #{collegial_body_party_type}
          //- CommisionWarrant
          else if decision_type_english === 'CommisionWarrant'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Επιτροπικού Εντάλματος
                  if primary_officer
                    p(class='governmentInfo has-text-centered')  <strong>Πρωτεύων Διατάκτης:</strong> #{primary_officer}
                  if secondary_officer
                    p(class='governmentInfo has-text-centered')  <strong>Δευτερεύων Διατάκτης:</strong> #{secondary_officer}
                  if financial_year
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό Έτος:</strong> #{financial_year}
                  if budget_category
                    p(class='governemntInfo has-text-centered') <strong>Κατηγορία Προϋπολογισμού:</strong> #{budget_category}
          //- DeclarationSummary
          else if decision_type_english === 'DeclarationSummary'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Περίληψης Διακήρυξης
                  if tendering_procedure
                    p(class='governmentInfo has-text-centered')  <strong>Διαδικασία Διαγωνισμού:</strong> #{tendering_procedure}
                  if selection_criterion
                    p(class='governmentInfo has-text-centered')  <strong>Κριτήριο Επιλογής:</strong> #{selection_criterion}
                  if contract_type
                    p(class='governmentInfo has-text-centered')  <strong>Τύπος Σύμβασης:</strong> #{contract_type}
                  if government_institution_budget_code
                    p(class='governemntInfo has-text-centered') <strong>Κωδικός Προϋπολογισμού Φορέα:</strong> #{government_institution_budget_code}
                  if declarationSummaryExpenses[0].cpv
                    p(class='governemntInfo has-text-centered') <strong>CPV:</strong> #{declarationSummaryExpenses[0].cpv}
                  if has_related_undertaking
                    p(class='governemntInfo has-text-centered') Η απόφαση έχει <a href="visualize/#{has_related_undertaking}">σχετική ανάληψη υποχρέωσης</a>
          //- DonationGrant
          else if decision_type_english === 'DonationGrant'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Δωρεάς - Επιχορήγησης
                  if kae
                    p(class='governmentInfo has-text-centered')  <strong>Αριθμός ΚΑΕ:</strong> #{kae}
                  if donation_type
                    p(class='governmentInfo has-text-centered')  <strong>Είδος Πράξης:</strong> #{donation_type}

          .container
            h4(class='title has-text-centered is-4') Κείμενο Απόφασης
            if PreConsideration
              p(class='decisionText') #{PreConsideration}
            if considerations.length > 0
              h5(class='title has-text-centered is-5') Έχοντας λάβει υπόψη
              ol(class='decisionText')
                each consideration in considerations
                  li.consideration=consideration['has_text']
                  if consideration.links
                    .tags
                      each linking, index in consideration.links
                        span(class='linking')
                          - let nextIndex = index + 1
                          a(href=linking, target='_blank', class='tag is-primary') Σύνδεσμος #{nextIndex}
            if decision_call
              h5(class='title has-text-centered is-5') #{decision_call}
            if decisions.length > 0
              ol(class='decisionText')
                each decision in decisions
                  li.decision=decision['has_text']
                  if decision.links
                    .tags
                      each linking, index in decision.links
                        span(class='linking')
                          - let nextIndex = index + 1
                          a(href=linking, target='_blank', class='tag is-primary') Σύνδεσμος #{nextIndex}
            if AfterDecision
              p(class='decisionText afterDecision') #{AfterDecision}
            if signers
              .decisionText.has-text-right <span>Την απόφαση την έχει υπογράψει:</span>
                  each signer in signers
                    div(class='signer')
                      if signer.signer_job
                        <b>#{signer.signer_job}</b>
                      if signer.signer_job && signer.signer_name
                        <span>,</span>
                      if signer.signer_name
                        <span> #{signer.signer_name}</span>
            //- Expenses
            //- Award Expense
            if decision_type_english === 'Award'
              p(class='subtitle has-text-centered') Αποδέκτες Κατακύρωσης
              p(class='has-text-centered') <b>Ποσό Έργου</b>: #{awardExpenses.expense_amount} #{awardExpenses.expense_currency}
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th ΑΦΜ
                      th Όνομα
                      th Είδος ΑΦΜ
                  tbody
                    each sponsor in sponsors
                      tr
                        td #{sponsor.afm}
                        td #{sponsor.name}
                        td #{sponsor.afm_type}
            //- CommisionWarrant Expense
            else if decision_type_english === 'CommisionWarrant'
              p(class='subtitle has-text-centered') Ποσά με ΦΠΑ και ΚΑΕ
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th Αριθμός ΚΑΕ
                      th Ποσό με ΦΠΑ
                  tbody
                    each commisionWarrantExpense in commisionWarrantExpenses
                      tr
                        td #{commisionWarrantExpense.kae}
                        td #{commisionWarrantExpense.expense_amount} #{commisionWarrantExpense.expense_currency}
            //- Contract Expense
            else if decision_type_english === 'Contract'
              p(class='subtitle has-text-centered') Συμβάσεις
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th ΑΦΜ
                      th Όνομα
                      th Είδος ΑΦΜ
                      th Ποσό
                      th Έναρξη Σύμβασης
                      th Λήξη Σύμβασης
                      th Είδος Σύμβασης
                      th Συγχρηματοδοτούμενη Σύμβαση
                  tbody
                    each contractExpense, index in contractExpenses
                      tr
                        td #{contractExpense.afm}
                        td #{contractExpense.name}
                        td #{contractExpense.afm_type}
                        td #{contractExpensesAmount[index].expense_amount} #{contractExpensesAmount[index].expense_currency}
                        td #{contractExpense.contract_start}
                        td #{contractExpense.contract_end}
                        td #{contractExpense.contract_decision_type}
                        if (contractExpense.contract_is_co_funded=='true')
                          td ΝΑΙ
                        else if (contractExpense.contract_is_co_funded=='false')
                          td ΟΧΙ
                        else
                          td
            //- DeclarationSummary Expense
            else if decision_type_english === 'DeclarationSummary'
              p(class='subtitle has-text-centered') Χρηματικά ποσά Περίληψης Διακήρυξης
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th Ποσό
                  tbody
                    each declarationSummaryExpense in declarationSummaryExpenses
                      tr
                        td #{declarationSummaryExpense.expense_amount} #{declarationSummaryExpense.expense_currency}
            if fek_year && fek_issue && fek_number
              p(class='has-text-centered subtitle fek') Η απόφαση έχει δημοσιευθεί στο ΦΕΚ <b>#{fek_number}/#{fek_year}, τεύχος #{fek_issue}<b/>.