html
  head
    meta(charset='utf-8')
    meta(name='theme-color', content='#ffffff')
    title Διαύγεια - Οπτικοποίηση Αποφάσεων
    link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon-16x16.png')
    link(rel='manifest', href='assets/manifest.json')
    link(rel='mask-icon', href='assets/safari-pinned-tab.svg', color='#5bbad5')
    style
      include ../node_modules/bulma/css/bulma.css
      include ../public/css/main.css
  body
      //- Header
      section(class='hero is-primary')
        .hero-body
          .container
            .columns.is-vcentered
              .column
                h1(class='title') Οπτικοποίηση Αποφάσεων
                h2(class='subtitle') Οπτικοποίηση των <span class="tag is-white">.n3</span> αποφάσεων σε <span class="tag is-white">HTML</span>
              .column.is-narrow
                .box
                  article(class='media')
                    .media-left
                      figure(class='image is-64x64')
                        img(src='assets/national_emblem_64.png')
                    .media-content
                      .content
                        p <strong style="font-size:1.2em">Διαύγεια</strong> <br> Διαφάνεια στο κράτος
                        //- Decision
      section(class='section is-fullheight')
        .container
          h4(class='title is-4 has-text-centered') #{title} <span class="tag is-rounded is-success">#{decision_type}</span> <hr>
          .columns
            //- Government Institution Details
            .column.is-two-thirds
              article(class='notification governmentNotification')
                p(class='subtitle has-text-centered') Στοιχεία Φορέα
                p(class='governmentInfo') <strong>Όνομα Φορέα:</strong> <span>#{government_institution_name}</span>
                if (government_institution_general_administration)
                  p(class='governmentInfo') <strong>Γενική Διεύθυνση:</strong> <span>#{government_institution_general_administration}</span>
                if (government_institution_department)
                  p(class='governmentInfo') <strong>Τμήμα:</strong> <span>#{government_institution_department}</span>
                if government_institution_address || government_institution_phone || government_institution_email || government_institution_postalcode || government_institution_fax || government_institution_website || government_institution_information
                  <hr>
                  p(class='has-text-centered contact') Επικοινωνία
                  .columns
                    .column.is-two-thirds
                      if government_institution_address
                        p(class='governmentInfo') <strong>Διεύθυνση:</strong> <span>#{government_institution_address}</span>
                      if government_institution_phone
                        p(class='governmentInfo') <strong>Τηλέφωνο:</strong> <span>#{government_institution_phone}</span>
                      if government_institution_email
                        p(class='governmentInfo') <strong>Email:</strong> <span><a href="mailto:#{government_institution_email}">#{government_institution_email}</a></span>
                    .column
                      if government_institution_postalcode
                        p(class='governmentInfo') <strong>T.K.:</strong> <span>#{government_institution_postalcode}</span>
                      if government_institution_fax
                        p(class='governmentInfo') <strong>Fax:</strong> <span>#{government_institution_fax}</span>
                      if government_institution_website
                        p(class='governmentInfo') <strong>Website:</strong> <span>#{government_institution_website}</span>
                  if government_institution_information
                    p(class='governmentInfo has-text-centered') <strong>Υπεύθυνος για Πληροφορίες:</strong> <span>#{government_institution_information}</span>
            .column
              article(class='notification is-primary generalInfo')
                p(class='subtitle has-text-centered') Γενικά Στοιχεία Απόφασης
                p(class='governmentInfo has-text-centered') <strong>ΑΔΑ:</strong> <span>#{iun}</span>
                p(class='governmentInfo has-text-centered') <strong>Έκδοση:</strong> <span>#{version}</span>
                p(class='governmentInfo has-text-centered') <strong>Είδος Απόφασης:</strong> <span>#{decision_type}</span>
                p(class='governmentInfo has-text-centered') <strong>Ημερομηνία Ανάρτησης:</strong> <span>#{date_publication}</span>
                p(class='governmentInfo has-text-centered') <strong>Αριθμός Πρωτοκόλλου:</strong> <span>#{protocol_number}</span>
                p(class='governmentInfo has-text-centered thematicCategoriesWrap') <strong>Θεματικές Κατηγορίες</strong>
                .tags
                  each val in thematic_category
                    .tag.is-white.thematicCategory= val
                p(class='governmentInfo has-text-centered') Η απόφαση
                  if (has_private_data=='true')
                    <strong> περιέχει </strong> προσωπικά δεδομένα
                  else
                    <strong> δεν περιέχει</strong> προσωπικά δεδομένα
          .container
            h4(class='title has-text-centered is-4') Κείμενο Απόφασης
            if PreConsideration
              p(class='decisionText') #{PreConsideration}
            h5(class='title has-text-centered is-5') Έχοντας λάβει υπόψη
            if considerations
              ol(class='decisionText')
                each consideration in considerations
                  li.consideration=consideration['has_text']
                  if consideration.links
                    .tags
                      each linking, index in consideration.links
                        span(class='linking')
                          - let nextIndex = index + 1
                          a(href=linking, target='_blank', class='tag is-primary') Σύνδεσμος #{nextIndex}
            if decision_call
              h5(class='title has-text-centered is-5') #{decision_call}
            if decisions
              ol(class='decisionText')
                each decision in decisions
                  li.decision=decision['has_text']
                  if decision.links
                    .tags
                      each linking, index in decision.links
                        span(class='linking')
                          - let nextIndex = index + 1
                          a(href=linking, target='_blank', class='tag is-primary') Σύνδεσμος #{nextIndex}
            if AfterDecision
              p(class='decisionText afterDecision') #{AfterDecision}