html
  head
    meta(charset='utf-8')
    meta(name='theme-color', content='#ffffff')
    title Διαύγεια - Οπτικοποίηση Αποφάσεων
    link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon-16x16.png')
    link(rel='manifest', href='assets/manifest.json')
    link(rel='mask-icon', href='assets/safari-pinned-tab.svg', color='#5bbad5')
    style
      include ../node_modules/bulma/css/bulma.css
      include ../public/css/main.css
  body
      //- Header
      section(class='hero is-primary')
        .hero-body
          .container
            .columns.is-vcentered
              .column
                h1(class='title') Οπτικοποίηση Αποφάσεων
                h2(class='subtitle') Οπτικοποίηση των <span class="tag is-white">.n3</span> αποφάσεων σε <span class="tag is-white">HTML</span>
              .column.is-narrow
                .box
                  article(class='media')
                    .media-left
                      figure(class='image is-64x64')
                        img(src='assets/national_emblem_64.png')
                    .media-content
                      .content
                        p <strong style="font-size:1.2em">Διαύγεια</strong> <br> Διαφάνεια στο κράτος
                        //- Decision
      section(class='section is-fullheight')
        .container
          h4(class='title is-4 has-text-centered') #{title} <span class="tag is-rounded is-success">#{decision_type}</span> <hr>
          - let columnsClasses = (decision_type_english !== 'LegislativeDecree' ? 'columns': 'columns is-centered')
          div(class=columnsClasses)
            //- Government Institution Details
            if decision_type_english !== 'LegislativeDecree'
              .column.is-two-thirds
                article(class='notification governmentNotification')
                  p(class='subtitle has-text-centered') Στοιχεία Φορέα
                  p(class='governmentInfo') <strong>Όνομα Φορέα:</strong> <span>#{government_institution_name}</span>
                  if (government_institution_general_administration)
                    p(class='governmentInfo') <strong>Γενική Διεύθυνση:</strong> <span>#{government_institution_general_administration}</span>
                  if (government_institution_department)
                    p(class='governmentInfo') <strong>Τμήμα:</strong> <span>#{government_institution_department}</span>
                  if government_institution_address || government_institution_phone || government_institution_email || government_institution_postalcode || government_institution_fax || government_institution_website || government_institution_information
                    <hr>
                    p(class='has-text-centered contact') Επικοινωνία
                    .columns
                      .column.is-two-thirds
                        if government_institution_address
                          p(class='governmentInfo') <strong>Διεύθυνση:</strong> <span>#{government_institution_address}</span>
                        if government_institution_phone
                          p(class='governmentInfo') <strong>Τηλέφωνο:</strong> <span>#{government_institution_phone}</span>
                        if government_institution_email
                          p(class='governmentInfo') <strong>Email:</strong> <span><a href="mailto:#{government_institution_email}">#{government_institution_email}</a></span>
                      .column
                        if government_institution_postalcode
                          p(class='governmentInfo') <strong>T.K.:</strong> <span>#{government_institution_postalcode}</span>
                        if government_institution_fax
                          p(class='governmentInfo') <strong>Fax:</strong> <span>#{government_institution_fax}</span>
                        if government_institution_website
                          p(class='governmentInfo') <strong>Website:</strong> <span>#{government_institution_website}</span>
                    if government_institution_information
                      p(class='governmentInfo has-text-centered') <strong>Υπεύθυνος για Πληροφορίες:</strong> <span>#{government_institution_information}</span>
              .column
                article(class='notification is-primary generalInfo')
                  p(class='subtitle has-text-centered') Γενικά Στοιχεία Απόφασης
                  p(class='governmentInfo has-text-centered') <strong>ΑΔΑ:</strong> <span>#{iun}</span>
                  p(class='governmentInfo has-text-centered') <strong>Έκδοση:</strong> <span>#{version}</span>
                  p(class='governmentInfo has-text-centered') <strong>Είδος Απόφασης:</strong> <span>#{decision_type}</span>
                  p(class='governmentInfo has-text-centered') <strong>Ημερομηνία Ανάρτησης:</strong> <span>#{date_publication}</span>
                  p(class='governmentInfo has-text-centered') <strong>Αριθμός Πρωτοκόλλου:</strong> <span>#{protocol_number}</span>
                  if number_employees
                    p(class='governmentInfo has-text-centered') <strong>Αριθμός Φυσικών προσώπων:</strong> <span>#{number_employees}</span>
                  //- TODO replace with organization name from database
                  if appointment_employer_org
                    p(class='governmentInfo has-text-centered') <strong><a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{appointment_employer_org}"' target="_blank">Φορέας Δορισμού</a></strong>
                  if opinion_government_institution_type
                    p(class='governmentInfo has-text-centered') <strong>Είδος Φορέα:</strong> #{opinion_government_institution_type}
                  if circular_number
                    p(class='governmentInfo has-text-centered') <strong>Αριθμός Εγκυκλίου:</strong> #{circular_number}
                  if has_related_declaration_summary
                    p(class='governmentInfo has-text-centered') <strong><a href="/visualize/#{has_related_declaration_summary}" target="_blank">Σχετική Περίληψη Διακήρυξης</a></strong>
                  if record_number
                    p(class="governemntInfo has-text-centered") <strong>Αριθμός Πρακτικού:</strong> #{record_number}
                  if service_change_decision_type
                    p(class="governmentInfo has-text-centered") <strong>Είδος Πράξης:</strong> #{service_change_decision_type}
                    if has_related_declaration_summary
                      p(class='governmentInfo has-text-centered') <strong><a href="/visualize/#{has_related_declaration_summary}" target="_blank">Σχετική Προκήρυξη πλήρωσης θέσεων</a></strong>
                  p(class='governmentInfo has-text-centered thematicCategoriesWrap') <strong>Θεματικές Κατηγορίες</strong>
                  .tags
                    each val in thematic_category
                      .tag.is-white.thematicCategory= val
                  p(class='governmentInfo has-text-centered') Η απόφαση
                    if (has_private_data=='true')
                      <strong> περιέχει </strong> προσωπικά δεδομένα
                    else
                      <strong> δεν περιέχει</strong> προσωπικά δεδομένα
            //- LegislativeDecree has no governemnt Institution
            else
              .column.is-half
                article(class='notification is-primary generalInfo')
                  p(class='subtitle has-text-centered') Γενικά Στοιχεία Απόφασης
                  p(class='governmentInfo has-text-centered') <strong>ΑΔΑ:</strong> <span>#{iun}</span>
                  p(class='governmentInfo has-text-centered') <strong>Έκδοση:</strong> <span>#{version}</span>
                  p(class='governmentInfo has-text-centered') <strong>Είδος Απόφασης:</strong> <span>#{decision_type}</span>
                  p(class='governmentInfo has-text-centered') <strong>Ημερομηνία Ανάρτησης:</strong> <span>#{date_publication}</span>
                  p(class='governmentInfo has-text-centered') <strong>Αριθμός Πρωτοκόλλου:</strong> <span>#{protocol_number}</span>
                  if number_employees
                    p(class='governmentInfo has-text-centered') <strong>Αριθμός Φυσικών προσώπων:</strong> <span>#{number_employees}</span>
                  //- TODO replace with organization name from database
                  if appointment_employer_org
                    p(class='governmentInfo has-text-centered') <strong><a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{appointment_employer_org}"' target="_blank">Φορέας Διορισμού</a></strong>
                  if circular_number
                    p(class='governmentInfo has-text-centered') <strong>Αριθμός Εγκυκλίου:</strong> #{circular_number}
                  if has_related_declaration_summary
                    p(class='governmentInfo has-text-centered') <strong><a href="/visualize/#{has_related_declaration_summary}" target="_blank">Σχετική Περίληψη Διακήρυξης</a></strong>
                  p(class='governmentInfo has-text-centered thematicCategoriesWrap') <strong>Θεματικές Κατηγορίες</strong>
                  .tags
                    each val in thematic_category
                      .tag.is-white.thematicCategory= val
                  p(class='governmentInfo has-text-centered') Η απόφαση
                    if (has_private_data=='true')
                      <strong> περιέχει </strong> προσωπικά δεδομένα
                    else
                      <strong> δεν περιέχει</strong> προσωπικά δεδομένα
                  if legislative_decree_number
                    p(class='governmentInfo has-text-centered') <strong>Αριθμός Πράξης:</strong> #{legislative_decree_number}
          //- BalanceAccount
          if decision_type_english === 'BalanceAccount'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Ισολογισμού - Υπολογισμού
                  if financial_year
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό έτος:</strong> #{financial_year}
                  if balance_account_time_period
                    p(class='governmentInfo has-text-centered')  <strong>Χρονική Περίοδος:</strong> #{balance_account_time_period}
                  if balance_account_type
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό έτος:</strong> #{balance_account_type}
                  p(class='governmentInfo has-text-centered') Ο Ισολογισμός - Απολογισμός
                    if (is_balance_account_approval_for_org=='true')
                      <strong> έχει έγκριση</strong> από τρίτο <a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{has_related_institution}"' target="_blank">φορέα</a>
                    else
                      <strong> δεν έχει έγκριση</strong> τρίτου Φορέα
          //- BudgetApproval
          else if decision_type_english === 'BudgetApproval'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Έγκρισης Προϋπολογισμού
                  if financial_year
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό έτος:</strong> #{financial_year}
                  if budget_category
                    p(class='governmentInfo has-text-centered')  <strong>Κατηγορία Προϋπολογισμού:</strong> #{budget_category}
                  if budget_type
                    p(class='governmentInfo has-text-centered')  <strong>Είδος Προϋπολογισμού:</strong> #{budget_type}
                  p(class='governmentInfo has-text-centered') Η Έγκριση Προϋπολογισμού
                    if (is_budget_approval_for_org=='true')
                      <strong> έχει έγκριση</strong> από τρίτο <a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{has_related_institution}"' target="_blank">φορέα</a>
                    else
                      <strong> δεν έχει έγκριση</strong> τρίτου Φορέα
          //- CollegialBodyCommisionWorkingGroup
          else if decision_type_english === 'CollegialBodyCommisionWorkingGroup'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Πράξης
                  if collegial_body_decision_type
                    p(class='governmentInfo has-text-centered')  <strong>Είδος Πράξης:</strong> #{collegial_body_decision_type}
                  if collegial_body_party_type
                    p(class='governmentInfo has-text-centered')  <strong>Τύπος Οργάνου:</strong> #{collegial_body_party_type}
          //- CommisionWarrant
          else if decision_type_english === 'CommisionWarrant'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Επιτροπικού Εντάλματος
                  if primary_officer
                    p(class='governmentInfo has-text-centered')  <strong>Πρωτεύων Διατάκτης:</strong> #{primary_officer}
                  if secondary_officer
                    p(class='governmentInfo has-text-centered')  <strong>Δευτερεύων Διατάκτης:</strong> #{secondary_officer}
                  if financial_year
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό Έτος:</strong> #{financial_year}
                  if budget_category
                    p(class='governemntInfo has-text-centered') <strong>Κατηγορία Προϋπολογισμού:</strong> #{budget_category}
          //- DeclarationSummary
          else if decision_type_english === 'DeclarationSummary'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Περίληψης Διακήρυξης
                  if tendering_procedure
                    p(class='governmentInfo has-text-centered')  <strong>Διαδικασία Διαγωνισμού:</strong> #{tendering_procedure}
                  if selection_criterion
                    p(class='governmentInfo has-text-centered')  <strong>Κριτήριο Επιλογής:</strong> #{selection_criterion}
                  if contract_type
                    p(class='governmentInfo has-text-centered')  <strong>Τύπος Σύμβασης:</strong> #{contract_type}
                  if government_institution_budget_code
                    p(class='governemntInfo has-text-centered') <strong>Κωδικός Προϋπολογισμού Φορέα:</strong> #{government_institution_budget_code}
                  if declarationSummaryExpenses[0].cpv
                    p(class='governemntInfo has-text-centered') <strong>CPV:</strong> #{declarationSummaryExpenses[0].cpv}
                  if has_related_undertaking
                    p(class='governemntInfo has-text-centered') Η απόφαση έχει <a href="visualize/#{has_related_undertaking}">σχετική ανάληψη υποχρέωσης</a>
          //- DonationGrant
          else if decision_type_english === 'DonationGrant'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Δωρεάς - Επιχορήγησης
                  if kae
                    p(class='governmentInfo has-text-centered')  <strong>Αριθμός ΚΑΕ:</strong> #{kae}
                  if donation_type
                    p(class='governmentInfo has-text-centered')  <strong>Είδος Πράξης:</strong> #{donation_type}
          //- GeneralSpecialSecretaryMonocraticBody
          else if decision_type_english === 'GeneralSpecialSecretaryMonocraticBody'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία πράξης
                  if position_decision_type
                    p(class='governmentInfo has-text-centered')  <strong>Είδος Πράξης:</strong> #{position_decision_type}, με έξοδα καθορισμού Αμοιβής-Αποζημίωσης <b>#{generalSpecialSecretaryMonocraticBodyExpense[0].expense_amount} #{generalSpecialSecretaryMonocraticBodyExpense[0].expense_currency}</b>
                  if position
                    p(class='governmentInfo has-text-centered')  <strong>Θέση:</strong> #{position}
                  if position_org
                    p(class='governmentInfo has-text-centered')  <strong><a href='https://diavgeia.gov.gr/search?advanced=true&query=organizationUid:"#{position_org}"' target="_blank">Φορέας</a> που υφίσταται η θέση</strong>
          //- Normative
          else if decision_type_english === 'Normative'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Κανονιστικής Πράξης
                  if normative_number
                    p(class='governmentInfo has-text-centered') <strong>Αριθμός Πράξης:</strong> #{normative_number}
                  if normative_type
                    p(class='governmentInfo has-text-centered') <strong>Τύπος Πράξης:</strong> #{normative_type}
          //- OccupationInvitation
          else if decision_type_english === 'OccupationInvitation'
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Προκήρυξης Πλήρωσης Θέσεων
                  if vacancy_opening_type
                    p(class='governmentInfo has-text-centered') <strong>Είδος Πράξης:</strong> #{vacancy_opening_type}
                  if has_related_undertaking
                    p(class='governemntInfo has-text-centered') Η απόφαση έχει <a href="visualize/#{has_related_undertaking}">σχετική ανάληψη υποχρέωσης</a>
          //- OtherDecisions or OtherDevelopmentLaw
          else if (decision_type_english === 'OtherDecisions' || decision_type_english === 'OtherDevelopmentLaw') && (normative_type || publish_via)
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία πράξης
                  if publish_via
                    p(class="governemntInfo has-text-centered") <strong>Μέσο δημοσίευσης της πράξης:</strong> #{publish_via}
                  if normative_type
                    p(class='governmentInfo has-text-centered') <strong>Τύπος Πράξης:</strong> #{normative_type}
          //- OwnershipTransferOfAssets
          else if (decision_type_english === 'OwnershipTransferOfAssets')
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Παραχώρησης Περιουσιακών Στοιχείων
                  if asset_name
                    p(class="governemntInfo has-text-centered") <strong>Αντικείμενο Παραχώρησης:</strong> #{asset_name}
          //- SpatialPlanningDecisions
          else if (decision_type_english === 'SpatialPlanningDecisions')
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία πράξης Χωροταξικού - Πολεοδομικού Περιεχομένου
                  if municipality
                    p(class="governemntInfo has-text-centered") <strong>Γεωγραφική Περιοχή:</strong> #{municipality}
                  if spatial_planning_decision_type
                    p(class="governemntInfo has-text-centered") <strong>Τύπος Πράξης:</strong> #{spatial_planning_decision_type}
          //- Undertaking
          else if (decision_type_english === 'Undertaking')
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Ανάληψης Υποχρέωσης
                  if entry_number
                    p(class="governemntInfo has-text-centered") <strong>Αριθμός Καταχώρησης:</strong> #{entry_number}

                  if partialead
                    p(class="governemntInfo has-text-centered") Η απόφαση είναι τμηματική ανάληψη και έχει <strong><a href="/visualize/#{has_related_partial}" target="_blank">την εξής αρχική μερική απόφαση</a></strong>
                  else
                    p(class="governemntInfo has-text-centered") Η απόφαση <b>δεν</b> είναι τμηματική ανάληψη

                  if recalled_expense
                    p(class="governemntInfo has-text-centered") Η απόφαση είναι ανακλητική ανάληψη
                  else
                    p(class="governemntInfo has-text-centered") Η απόφαση <b>δεν</b> είναι ανακλητική ανάληψη
                  if financial_year
                    p(class='governmentInfo has-text-centered')  <strong>Οικονομικό έτος:</strong> #{financial_year}
                  if budget_category
                    p(class='governmentInfo has-text-centered')  <strong>Κατηγορία Προϋπολογισμού:</strong> #{budget_category}
          //- WorkAssignmentSupplyServicesStudies
          else if (decision_type_english === 'WorkAssignmentSupplyServicesStudies')
            .columns.is-centered
              .column.is-half
                article(class='notification is-info')
                  p(class='subtitle has-text-centered') Επιμέρους στοιχεία Ανάθεσης Έργων / Προμηθειών / Υπηρεσιών / Μελετών
                  if work_assignment_etc_category
                    p(class="governemntInfo has-text-centered") <strong>Κατηγορία:</strong> #{work_assignment_etc_category}
                  if has_related_undertaking
                    p(class='governemntInfo has-text-centered') Η απόφαση έχει <a href="visualize/#{has_related_undertaking}">σχετική ανάληψη υποχρέωσης</a>
          .container
            if decision_type_english !== 'PaymentFinalisation'
              h4(class='title has-text-centered is-4') Κείμενο Απόφασης
            else
              h4(class='title has-text-centered is-4') Χρηματικό Ένταλμα Πληρωμής
            if PreConsideration
              p(class='decisionText PreConsideration') #{PreConsideration}
            if presentArray.length > 0
              h5(class='title has-text-centered is-5') Παρόντες απόφασεις
              .columns.is-centered
                .column.is-half
                  .present-table
                    table(class='table is-striped is-bordered')
                      thead
                        tr
                          th Όνομα Παρόντα
                          th Ρόλος Παρόντα
                      tbody
                        each present in presentArray
                          tr
                            td #{present.present_name}
                            td #{present.present_title}
            //- Opinion and PaymentFinalisation have several specific properties
            if decision_type_english === 'Opinion'
              if opinion_question_number
                p(class='decisionText topMargin bottomSmallMargin') <u><b>Αριθμός Ερωτήματος</b></u>: #{opinion_question_number}
              if opinion_question_summary
                p(class='decisionText topMargin bottomSmallMargin') <u><b>Περίληψη Ερωτήματος</b></u>: #{opinion_question_summary}
              if opinion_history
                p(class='decisionText topMargin bottomSmallMargin') <u><b>Σύντομο Ιστορικό</b></u>: #{opinion_history}
            else if decision_type_english === 'PaymentFinalisation'
              .notification
                p(class='decisionText paymentFinalisationMargin') <b>Αριθμός Πληρωμής</b>: #{payment_number}
                if reason_multiple_afm_ignorance
                  p(class='decisionText paymentFinalisationMargin') <b>Αιτία Παράληψης πολλαπλών ΑΦΜ</b>: #{reason_multiple_afm_ignorance}
                .columns.is-centered
                  .column
                    .paymentFinalisationTable.topMargin
                      table(class='table is-striped is-bordered is-fullwidth')
                        thead
                          tr
                            th Δικαιούχος
                            th Αιτία Πληρωμής
                            th Ποσό Πληρωμής
                            th Κρατήσεις
                            th Καθαρό Ποσό Πληρωμής
                            th Φορέας Πληρωμής
                            th CPV
                            th ΚΑΕ
                            th Δικαιολογητικά
                        tbody
                          each paymentFinalisationExpense, index in paymentFinalisationExpenses
                            tr
                              if paymentFinalisationSponsored[index].afm
                                td #{paymentFinalisationSponsored[index].name}, με ΑΦΜ <b>#{paymentFinalisationSponsored[index].afm} (#{paymentFinalisationSponsored[index].afm_type})</b>
                              else
                                td #{paymentFinalisationSponsored[index].name}
                              td #{paymentFinalisationExpense.payment_reason}
                              td <b>#{paymentFinalisationExpense.expense_amount} #{paymentFinalisationExpense.expense_amount_currency}</b>
                              if paymentFinalisationExpense.withholding_index > 0
                                td
                                  <ul>
                                    each withholding_index, ai_index in paymentFinalisationExpense.withholding_index
                                      - let next_ai_index = ai_index + 1
                                      li <b>#{next_ai_index}.</b> #{paymentFinalisationWithHoldings[withholding_index].withholding_text}, σύνολο <b>#{paymentFinalisationWithHoldings[withholding_index].withholding_expense} #{paymentFinalisationWithHoldings[withholding_index].withholding_expense_currency}</b>
                                  </ul>
                              else
                                td Δεν υπάρχουν κρατήσεις.
                              if paymentFinalisationExpense.withholding_index
                                td <b>#{paymentFinalisationExpense.payment_with_withholdings} #{paymentFinalisationExpense.payment_with_withholdings_currency}</b>
                              else
                                td <b>#{paymentFinalisationExpense.expense_amount} #{paymentFinalisationExpense.expense_amount_currency}</b>
                              td #{paymentFinalisationOrganizationSponsors[0].name}, με ΑΦΜ <b>#{paymentFinalisationOrganizationSponsors[0].afm} (#{paymentFinalisationOrganizationSponsors[0].afm_type})</b>
                              if paymentFinalisationExpense.cpv
                                td #{paymentFinalisationExpense.cpv}
                              else
                                td ------
                              if paymentFinalisationKaeWithSubExpenses.length > 0
                                td
                                  <ul>
                                    each paymentFinalisationKaeWithSubExpense, pfk_index in paymentFinalisationKaeWithSubExpenses
                                      - let next_pfk_index = pfk_index + 1
                                        li(class='smallMargin') <b>#{next_pfk_index}.</b> #{paymentFinalisationKaeWithSubExpense.kae}, <b>#{paymentFinalisationKaeWithSubExpense.expense_amount} #{paymentFinalisationKaeWithSubExpense.expense_amount_currency}</b>
                                  </ul>
                              else
                                td ------
                              td
                                <ul>
                                  each document, doc_index in paymentFinalisationDocuments[index].has_document
                                    - let next_doc_index = doc_index + 1
                                      li(class='smallMargin') <b>#{next_doc_index}.</b> #{document}
                                </ul>
            if considerations.length > 0
              h5(class='title has-text-centered is-5') Έχοντας λάβει υπόψη
              ol(class='decisionText')
                each consideration in considerations
                  li.consideration=consideration['has_text']
                  if consideration.links
                    .tags
                      each linking, index in consideration.links
                        span(class='linking')
                          - let nextIndex = index + 1
                          a(href=linking, target='_blank', class='tag is-primary') Σύνδεσμος #{nextIndex}
            //- Opinion has several specific properties
            if decision_type_english === 'Opinion'
              if opinion_analysis
                p(class='decisionText topMargin') <u><b>Ανάλυση</b></u>: #{opinion_analysis}
              if opinion_conclusion
                  p(class='decisionText topMargin') <u><b>Συμπέρασμα - Απάντηση</b></u>: #{opinion_conclusion}
            if decision_call
              h5(class='title has-text-centered is-5') #{decision_call}
            if decisions.length > 0
              ol(class='decisionText')
                each decision in decisions
                  li.decision=decision['has_text']
                  if decision.links
                    .tags
                      each linking, index in decision.links
                        span(class='linking')
                          - let nextIndex = index + 1
                          a(href=linking, target='_blank', class='tag is-primary') Σύνδεσμος #{nextIndex}
            if AfterDecision
              p(class='decisionText afterDecision') #{AfterDecision}
            if verifiers
              .decisionText.has-text-left.verifiersSigners
                  each verifier in verifiers
                    - let signer = signers[verifier.signer_index - 1]
                      div(class='signer')
                        if verifier.has_text
                          .notification #{verifier.has_text}
                            <div><br/>Την απόφαση την ελέγχουν ως προς την εγκυρότητα:</div>
                              if signer.signer_job
                                <b>#{signer.signer_job}</b>
                              if signer.signer_job && signer.signer_name
                                <span>,</span>
                              if signer.signer_name
                                <span> #{signer.signer_name}</span>
            if signers
              - let haveOrHas = signers.length > 1 ? 'έχουν' : 'έχει'
              if signers.length
              .decisionText.has-text-right.verifiersSigners <span>Την απόφαση την #{haveOrHas} υπογράψει:</span>
                  each signer in signers
                    div(class='signer')
                      if signer.signer_job
                        <b>#{signer.signer_job}</b>
                      if signer.signer_job && signer.signer_name
                        <span>,</span>
                      if signer.signer_name
                        <span> #{signer.signer_name}</span>
            //- Expenses
            //- Award Expense
            if decision_type_english === 'Award'
              p(class='subtitle has-text-centered') Αποδέκτες Κατακύρωσης
              p(class='has-text-centered') <b>Ποσό Έργου</b>: #{awardExpenses.expense_amount} #{awardExpenses.expense_currency}
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th ΑΦΜ
                      th Όνομα
                      th Είδος ΑΦΜ
                  tbody
                    each sponsor in sponsors
                      tr
                        td #{sponsor.afm}
                        td #{sponsor.name}
                        td #{sponsor.afm_type}
            //- CommisionWarrant Expense
            else if decision_type_english === 'CommisionWarrant'
              p(class='subtitle has-text-centered') Ποσά με ΦΠΑ και ΚΑΕ
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th Αριθμός ΚΑΕ
                      th Ποσό με ΦΠΑ
                  tbody
                    each commisionWarrantExpense in commisionWarrantExpenses
                      tr
                        td #{commisionWarrantExpense.kae}
                        td #{commisionWarrantExpense.expense_amount} #{commisionWarrantExpense.expense_currency}
            //- Contract Expense
            else if decision_type_english === 'Contract'
              p(class='subtitle has-text-centered') Στοιχεία Σύμβασης
              .notification
                if contract_decision_type
                    p(class='decisionText topMargin') <u><b>Είδος Σύμβασης</b></u>: #{contract_decision_type}
                if contract_start
                  p(class='decisionText topMargin') <u><b>Έναρξη Σύμβασης</b></u>: #{contract_start}
                if contract_end
                  p(class='decisionText topMargin') <u><b>Λήξη Σύμβασης</b></u>: #{contract_end}
                if contractExpensesAmount[0].expense_amount && contractExpensesAmount[0].expense_currency
                  p(class='decisionText topMargin') <u><b>Ποσό</b></u>: #{contractExpensesAmount[0].expense_amount} #{contractExpensesAmount[0].expense_currency}
                if contract_is_co_funded == 'true'
                    p(class='decisionText topMargin') Η σύμβαση είναι συγχρηματοδοτούμενη
              .expenses-table.has-text-centered
                h2(class='subtitle') Φυσικά πρόσωπα σύμβασης
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th ΑΦΜ
                      th Όνομα
                      th Είδος ΑΦΜ
                      //- th Ποσό Έργου
                      //- th Έναρξη Σύμβασης
                      //- th Λήξη Σύμβασης
                      //- th Είδος Σύμβασης
                      //- th Συγχρηματοδοτούμενη Σύμβαση
                  tbody
                    each contractExpense, index in contractExpenses
                      tr
                        td #{contractExpense.afm}
                        td #{contractExpense.name}
                        td #{contractExpense.afm_type}

            //- DeclarationSummary Expense
            else if decision_type_english === 'DeclarationSummary'
              p(class='subtitle has-text-centered') Χρηματικά ποσά Περίληψης Διακήρυξης
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th Ποσό
                  tbody
                    each declarationSummaryExpense in declarationSummaryExpenses
                      tr
                        td #{declarationSummaryExpense.expense_amount} #{declarationSummaryExpense.expense_currency}
            //- DonationGrant or ExpenditureApproval Expense
            else if decision_type_english === 'DonationGrant' || decision_type_english === 'ExpenditureApproval'
              p(class='subtitle has-text-centered') Χρηματικά ποσά Δωρεάς - Επιχορήγησης
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      if decision_type_english === 'DonationGrant'
                        th Ποσό Δωρεάς-Επιχορήγησης
                        th ΑΦΜ αποδέκτη δωρέας
                        th Όνομα αποδέκτη δωρέας
                        th Είδος ΑΦΜ αποδέκτη δωρεάς
                        th ΑΦΜ αποστολέα δωρεάς
                        th Όνομα αποστολέα δωρεάς
                        th Είδος ΑΦΜ αποστολέα δωρεάς
                      else
                        th Ποσό Δαπάνης
                        th CPV
                        th Αριθμός ΚΑΕ
                        th ΑΦΜ αποδέκτη δαπάνης
                        th Όνομα αποδέκτη δαπάνης
                        th Είδος ΑΦΜ αποδέκτη δαπάνης
                        th ΑΦΜ αποστολέα δαπάνης
                        th Όνομα αποστολέα δαπάνης
                        th Είδος ΑΦΜ αποστολέα δαπάνης
                  tbody
                    each donationGrant, index in donationGrantSponsored
                      tr
                        td #{donationGrantExpenses[index].expense_amount} #{donationGrantExpenses[index].expense_currency}
                        if decision_type_english === 'ExpenditureApproval'
                          td #{donationGrantExpenses[index].cpv}
                          td #{donationGrantExpenses[index].kae}
                        td #{donationGrantSponsored[index].afm}
                        td #{donationGrantSponsored[index].name}
                        td #{donationGrantSponsored[index].afm_type}
                        //- Only 1 OrganizationSponsor
                        td #{donationGrantOrganizationSponsor[0].afm}
                        td #{donationGrantOrganizationSponsor[0].name}
                        td #{donationGrantOrganizationSponsor[0].afm_type}
            //- GeneralSpecialSecretaryMonocraticBody Expense
            else if decision_type_english === 'GeneralSpecialSecretaryMonocraticBody' && position_decision_type === 'Καθορισμός Αμοιβής - Αποζημίωσης'
              p(class='subtitle has-text-centered topMargin') Έξοδα Καθορισμού Αμοιβής-Αποζημίωσης: #{generalSpecialSecretaryMonocraticBodyExpense[0].expense_amount} <b>#{generalSpecialSecretaryMonocraticBodyExpense[0].expense_currency}</b>
            else if decision_type_english === 'OwnershipTransferOfAssets'
              p(class='subtitle has-text-centered topMargin') Πραγματοποίηση δωρεάς από <b>#{ownershipTransferOfAssetsOrganizationSponsor[0].name}</b> με ΑΦΜ <b>#{ownershipTransferOfAssetsOrganizationSponsor[0].afm} (#{ownershipTransferOfAssetsOrganizationSponsor[0].afm_type})</b>
              p(class='subtitle has-text-centered') Αποδέκτες Παραχώρησης Χρήσης Περιουσιακών στοιχείων
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                        th ΑΦΜ αποδέκτη παραχώρησης
                        th Όνομα αποδέκτη παραχώρησης
                        th Είδος ΑΦΜ αποδέκτη παραχώρησης
                  tbody
                    each sponsored in ownershipTransferOfAssetsSponsored
                      tr
                        td #{sponsored.afm}
                        td #{sponsored.name}
                        td #{sponsored.afm_type}
            //- Undertaking Expenses
            else if decision_type_english === 'Undertaking'
              p(class='subtitle has-text-centered topMargin') Ποσά Ανάληψης Υποχρέωσης
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                        th ΑΦΜ / Επωνυμία / Τύπος
                        th Αριθμός ΚΑΕ
                        th Ποσό με ΦΠΑ
                        th Υπόλοιπο διαθέσιμης πίστωσης
                        th Υπόλοιπο ΚΑΕ
                  tbody
                    each undertakingExpense, index in undertakingExpenses
                      tr
                        if undertakingSponsored[index].afm && undertakingSponsored[index].name && undertakingSponsored[index].afm_type
                          td #{undertakingSponsored[index].afm} / #{undertakingSponsored[index].name} / #{undertakingSponsored[index].afm_type}
                        else
                          td ------
                        td #{undertakingExpense.kae}
                        td #{undertakingExpense.expense_amount} #{undertakingExpense.expense_currency}
                        td #{undertakingExpense.kae_credit_remainder}
                        td #{undertakingExpense.kae_budget_remainder}
            //- WorkAssignmentSupplyServicesStudies Expenses
            else if decision_type_english === 'WorkAssignmentSupplyServicesStudies'
              p(class='subtitle has-text-centered') Αποδέκτες Ανάθεσης Έργων / Προμηθειών / Υπηρεσιών / Μελετών
              p(class='has-text-centered') <b>Ποσό Έργου</b>: #{workAssignmentSupplyServicesStudiesExpenses.expense_amount} #{workAssignmentSupplyServicesStudiesExpenses.expense_currency}
              .expenses-table.has-text-centered
                table(class='table is-striped is-bordered')
                  thead
                    tr
                      th ΑΦΜ
                      th Όνομα
                      th Είδος ΑΦΜ
                  tbody
                    each workAssignmentSupplyServicesStudiesSponsor in workAssignmentSupplyServicesStudiesSponsors
                      tr
                        td #{workAssignmentSupplyServicesStudiesSponsor.afm}
                        td #{workAssignmentSupplyServicesStudiesSponsor.name}
                        td #{workAssignmentSupplyServicesStudiesSponsor.afm_type}
            //- Recipients, Recipients for share and Internal Distribution Tables
            if (recipient_for_share || recipients || internal_distribution)
              p(class='subtitle has-text-centered recipientsWrapper') Φυσικά πρόσωπα προς ενημέρωση
              .columns.is-centered
                if (recipient_for_share)
                  .column
                     .recipients-table.has-text-centered
                       table(class='table is-striped is-bordered is-fullwidth')
                         thead
                           tr
                             th Αποδέκτες προς κοινοποίηση
                         tbody
                           each recipient in recipient_for_share
                             tr
                               td #{recipient}
                if (recipients)
                  .column
                     .recipients-table.has-text-centered
                       table(class='table is-striped is-bordered is-fullwidth')
                         thead
                           tr
                             th Αποδέκτες
                         tbody
                           each recipient in recipients
                             tr
                               td #{recipient}
                if (internal_distribution)
                  .column
                     .recipients-table.has-text-centered
                       table(class='table is-striped is-bordered is-fullwidth')
                         thead
                           tr
                             th Εσωτερική Διανομή
                         tbody
                           each recipient in internal_distribution
                             tr
                               td #{recipient}
            //- Decision published in FEK
            if fek_year && fek_issue && fek_number
              p(class='has-text-centered subtitle fek') Η απόφαση έχει δημοσιευθεί στο ΦΕΚ <b>#{fek_number}/#{fek_year}, τεύχος #{fek_issue}<b/>.